extends layouts/main.pug

block content
    .form-container
        form(action=routes.change-password, method="post")
            input(type="text" placeholder="Current Password")
            input(type="text" placeholder="New Password")
            input(type="text" placeholder="Verify Password")
            input(type="submit" value="Change Password")